<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Statistics</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .card {
            background-color:yellowgreen;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            width: 300px;
        }
        .card-title {
            font-size: 24px;
            margin-bottom: 10px;
            color: #333333;
        }
        .statistic {
            margin-bottom: 10px;
        }
        .statistic label {
            font-weight: bold;
            color: #555555;
        }
        .statistic-value {
            font-size: 18px;
            color: #007bff;
        }
    </style>
</head>
<body>
    <div class="card">
        <h1 class="card-title">Statistics for Selected Month</h1>
        
        <div class="statistic">
            <label>Total Sale Amount:</label>
            <p class="statistic-value"> <%= statistics.totalSaleAmount.toFixed(2) %> Rs</p>
        </div>
        
        <div class="statistic">
            <label>Total Sold Items:</label>
            <p class="statistic-value"><%= statistics.totalSoldItems %></p>
        </div>
        
        <div class="statistic">
            <label>Total Not Sold Items:</label>
            <p class="statistic-value"><%= statistics.totalNotSoldItems %></p>
        </div>
    </div>
</body>
</html>
